body{
    margin: 0;
    font-family:  'Nunito', sans-serif;
    background-color:    #d7dbdd  ;
    position: relative;
}
*{
    box-sizing: border-box;
}
.popup-modal-add-reciepients{
    display: none;
}
.login-form{
    width: 30%;
    margin: auto;
    background-color:   #fdfefe  ;
    border-radius: 8px;
    margin-top: 10%;
    padding: 40px 20px;
}
.txt-centred{
    text-align: center;
    color:  #1c2833
}
.slight-shadow{
    box-shadow: 0 0.5px 0.5px 0.8px   #b2babb
}
.txt-field{
    font-size: 18px;
}
.txt-f-normal{
    border: solid 1px  #273746  ;
    background-color:  #fbfcfc ;
    padding: 8px;
}
.txt-f-tmp-txt{

    width: 100%;
}
.txt-f-full-wid{

    width: 97%;
}
.txt-field-search{
    border: solid 1px  #273746 ;
    padding: 8px;
    width: 40%;
}
.txt-field-choose-tbl{
    visibility: hidden;
    border: solid 1px  #273746 ;
    padding: 8px 2px;
    font-size: 13px;
    width: 100%;

}
.line-field{
    padding: 10px 5px;
    border-style: none none solid none
}
.line-field:focus{
    border-bottom-color:  #aed6f1 ;


}
.txt-field-login{
    display: block;
    width: 100%;
    background-color:   #fdfefe  ;
    margin: 15px 0
}
.btn{
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: solid 0.5px  transparent ;

}
.btn-full-width{
    width: 26%;
    margin: 0;
    margin-left: 0px;

}
.btn-success{
    background-color:    #5dade2   ;
    border: solid 0.5px  #5dade2 ;
    color: white;

}
.btn-success:hover{

    background-color:  #3498db ;
}
.btn-danger{
    background-color:  #ec7063;
    border: solid 0.5px   #f5b7b1  ;
    color: white;

}
.btn-pass-forgotten{
    font-size: 13px;
    float: right;
    color:  #5d6d7e ;
    background-color: transparent;
    border: none;
    cursor: pointer;

}
.btn-pass-forgotten:hover{
    color:  #17202a
}
.alert-info{
    color:  #d98880;
    display: block;
    font-size: 13px;

}

.btn-warn{
    padding: 10px;
    color:  #212f3d ;
    background-color:    #f7dc6f
}
.wrapper{
    display: grid;
    grid-template-areas:
            'header  header  header header  header header  header header header header header'
            'nav main main main main   main main  main main main main'
            'footer footer footer  footer footer footer footer footer footer footer footer';

}

.grid-item-header{
    grid-area: header;
    padding: 15px 5px;
    background-color:   #2c3e50 ;
}
.grid-item-nav{
    grid-area: nav;
    background-color: #566573
}
.grid-item-main{
    grid-area: main;

}
.grid-item-footer{
    grid-area: footer;
    padding: 15px 4px 15px 2%;
    color: #fdfefe;
    background-color: #2c3e50;
}
.logo{
    margin: 10px 5px;
    display: inline;
}
.logo>a{

    color: #fdfefe  ;
    text-decoration: none;
}
.user-name-div{
    display: inline;
    float: right;
    margin-right: 10%;
    color:  #d5d8dc
}
.dropdown-arrow{
    cursor: pointer;
    font-size: 12px;
}
.nav-ul{
    padding: 0px;
    margin: 0px;
}
.nav-tab{
    list-style-type: none;

}
.nav-tab >a{
    display: block;
    text-decoration: none;
    padding: 10px 5px;
    color: #fdfefe;
}
.nav-tab:hover{
    background-color: #2c3e50;
}
.active-tab{
    background-color: #2c3e50;
}
.stats-div{
    width: 22%;
    height: 100px;
    margin: 1%;
    border-radius: 8px;
    text-align: center;
    padding-top: 3%;
    display: inline-block;
    color: white ;
    vertical-align: bottom;

}
.stats-div > span{
    font-size: 103%;
}
.stats-div1{
    background-color:  #d98880
}
.stats-div2{
    background-color:   #c39bd3
}
.stats-div3{
    background-color:  #7fb3d5
}
.stats-div4{
    background-color:  #76d7c4
}
.details-tab-sec{
    max-height: 450px;
    width: 58%;
    margin: 1%;
    padding: 10px;
    display: inline-block;
    border-radius: 8px;
    overflow-y: scroll;
    vertical-align: top;
    background-color: #fdfefe;
}
/*.stats-graph{*/
    /*height: 200px;*/
    /*margin: 10px;*/
    /*background-color:  #fdfefe;*/
/*}*/
.add-sms-sec{
    width: 60%;
    margin: 1% 1%;
    border-radius: 8px;
    padding: 2% 1%;
    background-color:  #fdfefe  ;
    display: inline-block;

}
.td-sentsms{
    font-size: 12px;
}
.notifs-sec{
    width: 35%;
    margin: 1%;
    display: inline-block;
    border-radius: 8px;

    padding: 10px;
    background-color: #fdfefe;

}
.notifs-sec>h3{
    margin-top: 0;
}
.reciepients-sec{
    width: 35%;

    margin: 10px 10px;
    display: inline-block;
    border-radius: 8px;
    vertical-align: top;
    background-color:  #fdfefe ;
}
.page-title{
    margin: 8px 10px;
    display: inline-block;
}
.reciepients-sec > h3{
    text-align: center;
    margin: 10% 1% 15% 1%;

}
.feild-label{
    margin: 1%;
}
.send-sms-form{
   width: 98%;padding: 0px;
}
.sms-txt-area{
    width: 100%;
    height: 100px;
    margin: 1%;
    border: solid 1px  #2c3e50 ;

}
.btn-small{
    width: 100%;
    text-align: center;
    font-size: 13px;
    padding: 4px 0;
    margin: 3%;

}
.btn-send{
    margin: 1%;
    padding-right: 10%;
    padding-left: 10%;
}
.add-btn-div{
    display: inline-block;
    vertical-align: top;
    margin: 1% 0;
    margin-top: 23px;
}
.ul-contacts{
    list-style-type: none;
    padding: 0;
    margin: 0;

}
.main-minheight{
    min-height:555px ;
}
.recepient-li-item{
    padding: 5px;
    background-color:  #d5d8dc ;
    margin: 5px;

}
.gt-icon{
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;

}
.remove-contact{
    color: red;
    float: right;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 10%;
    line-height: 0;
    margin-top: 10PX;
}
.remove-contact:hover{
    box-shadow: 0 0.5px 0.5px 2px  #f1948a

}
.popup-modal{
    width: 100%;
    display: none;
    height: 100vh;
    position: fixed;
    background: rgba(0,0,0,0.5);
}
.popup-modal-delete-temp{
    display: none;
}
.popup-modal-edit-record{
    display: none;
    /*background-color: #fdfefe;*/
    /*margin: auto;*/
    /*margin-top: 140px;*/
    /*width: 40%;*/
    /*padding: 20px 10px;*/
    /*border: solid 1px  #aab7b8 ;*/
    /*max-height: 620px;*/
}
.add-form{
    display: block;
    background-color: #fdfefe;
    margin: auto;
    margin-top: 140px;
    width: 40%;
    padding: 20px 10px;
    border: solid 1px  #aab7b8 ;
    max-height: 620px;
}
.add-form, .edit-form>label{
    display: block;
}
.add-form>textarea ,input[type="text"]{
    display: block;
    margin-bottom: 20px
}
.temp-txt{
    border: solid 1px black;
    height: 150px;
    width: 100%;
}
.popup-modal-delete-record{
    display: none;
}

.confirm-delete-form{
    background-color: #fdfefe;
    margin: auto;
    margin-top: 40px;
    margin-left: 20%;
    width: 60%;
    padding: 20px 10px;
    border: solid 1px  #aab7b8 ;
    max-height: 450px;
    overflow-y: scroll;

}

.update-record-form{
    background-color: #fdfefe;
    margin: auto;
    margin-top: 140px;
    width: 40%;
    padding: 20px 10px;
    border: solid 1px  #aab7b8 ;
    max-height: 620px;

}

.confirm-delete-form>h4{
    text-align: center;
}
.confirm-delete-form>span{
    margin: 5px 15px;
}
.contacts-selection-form{
    background-color: #fdfefe;
    margin: auto;
    margin-top: 20px;
    width: 35%;
    padding: 20px 10px;
    border: solid 1px  #aab7b8 ;
    max-height: 620px;
    overflow-y: scroll;
}
.contacts-selection-form>h3{
    text-align: center;
    margin: 0 0 3px 0px;

}
.contact-li-item> label{
    font-size: 20px;

    margin-left: 3%;

}
.contacts-selection-form>ul{
    margin: 0px;
    padding: 1px;
}
.contact-li-item{
    margin: 8px;

    list-style-type: none;
}
.contact-grp-txt{
    font-size: 14px;
}

.check-box-contact{
    font-size: 20px;
    font-size: 14px;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    cursor:pointer;
    border:1px solid #ddd;
}

.ul-choose-contcts{
    list-style-type: none;margin: 0;
    padding: 0;
}
.ul-choose-contcts>li{
    margin: 8px 0;
}
.add-contact-form{
    margin-top: 80px;
    max-height: 540px;
    overflow-y: scroll;
}

.customer-contact-sec{
    margin: 1%;
    padding: 3%;
    border-radius: 8px;
    width: 95%;

    background-color: #fdfefe ;
}
.edit-div{
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-right: 5%;

}
.btn-edit{
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;
}
.btn-delete{
    border: solid 1px    #aed6f1    ;
    background-color:   #aed6f1  ;
}

.btn-change{
    border: solid 1px   #f1948a   ;
    background-color:   #f1948a   ;
}
.btn-edit-success{
    border: solid 1px   #5dade2  ;
    background-color:   #5dade2  ;
}
.tble-groups{
    padding: 5px 10px;
    text-align: left;
}
.edit-icon{


    width: 25px;
    height: 25px;
}
.edit-icon:hover{
    border-color: #5dade2;
}
.tble-caption{
    text-align: left;
}
.tbl-div{
    overflow: auto;background-color:  #f4f6f6 ;
    max-height: 390px;
}
.tbl-contacts{
    padding: 20px;
}
.tbl-contacts th{
    padding: 4px 0;
    text-align: left;
}
.tbl-contacts  td{
    vertical-align: bottom;
}

.tbl-contacts tr {
    padding: 0px;
    color: #273746;
}
/*.row-big{*/
    /*width: 1100px;*/
/*}*/
/*.row-small{*/
    /*width: 1px;*/
    /*padding: 0px;*/
    /*background-color: blue;*/
    /*border: solid;*/
/*}*/
.btn-edit-row{
    border: solid 1px black;
    background-color:  #d4e6f1 ;
    padding: 3px;
}
.btn-manage{
    background-color:  #fcf3cf ;
    border: solid 1px  #fcf3cf ;
}
 .tbl-contacts tr:nth-child(even){
    background-color:  #ecf0f1  ;
     padding: 4px;
}
.temp-div{
    /*max-height: 650px;*/
    height: auto;
    background-color: red;
    margin: 1%;
    border-radius: 8px;
    background:  #fdfefe ;
    padding: 2%;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    margin-bottom: 10px;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 1px;
    display: none;

}
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.template-article{
    width: 100.2%;
    padding: 1% 2%;
    margin: 0;
    margin-top: -10px;
    margin-left: -1px;
    background-color: #f4f6f7  ;
}
.btn-add-template{
    float: right;
    margin: 1% 0%;

}

.btn-use-template{
    float: right;
    margin: 0;

}

.pagination {
    width: 30%;
    height: 40px;
    margin: 10px auto 20px auto;

}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    background-color:  #85929e ;
    border: 1px solid  #aeb6bf ;
    transition: background-color .3s;
}
.pagination a:hover{background-color:  #aed6f1 ;}

.template-txt{
    margin: 5px ;
    word-wrap: break-word;
}
.user-info-dropd{
    width: 150px;
    padding: 10px 5px;
    border-radius: 8px;
    display: none;
    background-color:  #f2f3f4 ;
    position: absolute;
    top: 50px;
    margin: 10px 0;
    border: solid 1px  #aeb6bf ;
    box-shadow: 0 0.5px 2px 0.8px   #b2babb ;

    animation: mymove  0.5s
}
.user-info-dropd > a{
    display: block;
    text-decoration: none;

    margin: 10px 0;
    color:   #5d6d7e

}
.user-info-dropd > a:hover{
    color:  #2e4053 ;
}
@keyframes mymove{
    from {top: 0px;}
    to {top: 50px;}
}
.tbl-choose-field{
    text-align: left;
    margin: auto;
}
.tbl-choose-field tr{
    padding: 0px;
}

.success-rw{
    color: #00cc00;
}
.danger-rw{
    color: red;
}
.small-rw{
    font-size: 12px;
    height:10px;

}
.small-rw-2{
    font-size: 12px;
    height:10px;

}
.notification-th{
    text-align: left;

}
.msg-th{
    max-width: 200px;
}
.tbl-sent-sms th{
    text-align: left;
    /*border: solid 1px red;*/
}
.th-sentsms-msg{
    /*width: 200px;*/
    max-width: 10px;
}
.tbl-sent-sms  td{
    padding: 2px;

}
.alert-box {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
}

.failure {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    display: none;
}

.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    display: none;
}
